/* Global */
* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

html {
    height: 100%;
    margin: 0;
}

.site {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1 0 auto;
}

.site-footer {
    flex-shrink: 0;
}
.social-links {
    width: 30%;
    margin: 2px auto;
}

.social-links .link {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    gap: 6px;
}

.link-ref {
    text-decoration: none;
    color: #d3d3d3;
}

.divider {
    width: 80%;
    margin: 14px auto;
}

body {
    background: #f9f9f9;
    height: 100%;
    margin: 0;
}

/* Base navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background: #111;
    color: white;
    position: fixed;
    width: 100%;
    z-index: 50;    
}

/* Nav links desktop */
.nav-links {
    display: flex;
    list-style: none;
    gap: 20px;
    align-items: center;
}

.nav-links > li > a, .logo > a  {
    text-decoration: none;
    color: #d3d3d3;
}

/* Hide hamburger on desktop */
.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 5px;
}

.hamburger span {
    width: 25px;
    height: 3px;
    background: #fff;
}

/* Hero */
.hero {
    text-align: center;
    padding: 80px 20px;
    background: linear-gradient(to right, #ff6a00, #ee0979);
    color: white;
}

.hero .btn {
    padding: 10px 20px;
    margin-top: 20px;
    background: #000;
    color: white;
    border: none;
    cursor: pointer;
}

/* Products */
.products-container {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-around; */
    gap: 20px;
    padding: 40px;
}

.product-card {
    width: 220px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    justify-content: space-between;
    /* pushes button down evenly */
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    /* height: 350px; important: same height for all cards */
    flex: 0 0 calc(25% - 20px);
    box-sizing: border-box;
    text-decoration: none;
}

/* Keep content grouped */
.product-card h3 {
    font-size: 1rem;
    margin: 10px 0;
    min-height: 40px;
    /* ensures consistent space for titles */
}

/* Push button to bottom */
.add-to-cart-btn {
    margin: auto;
    padding: 8px;
    background: #ff6600;
    color: #fff;
    border: none;
    cursor: pointer;
}

.product-details-link {
    text-decoration: none;
    color: #000;
}

.product-details-link:visited {
    color: #ff6600;
}

.product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.product-card img {
    width: 100%;
    height: 220px;
    /* make square */
    object-fit: cover;
    /* cover ensures consistent cropping */
    display: block;
}

/* Product info container */
.product-info {
    padding: 15px;
    text-align: center;
    width: 100%;
}

/* Product title */
.product-info h3 {
    font-size: 1.1rem;
    margin: 0 0 10px 0;
    color: #333;
}

/* Product price */
.product-info p {
    font-size: 1rem;
    margin: 0 0 10px 0;
    font-weight: bold;
    color: #007b00;
}

/* Add to cart button */
.form-control {
    display: flex;
    justify-content: center;
}


.product-info button:hover {
    background-color: #e65c00;
}

.product-card button {
    margin-top: 10px;
    padding: 8px 15px;
    border: none;
    background: #111;
    color: white;
    cursor: pointer;
}


/* CART PAGE */
.cart {
    padding: 40px;
    max-width: 800px;
    margin: 30px auto;
}

.cart h1 {
    text-align: center;
    margin-bottom: 30px;
}

/* Empty cart */
.empty {
    text-align: center;
    font-size: 18px;
    color: #555;
}

/* Cart items */
.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

.quantity-controls {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-right: 10px;
}

.qty-btn {
    display: block;
    text-decoration: none;
    color: #fff;
    background-color: #ff6600;
    padding: 4px 8px;
    border-radius: 2px;
    margin: 0 10px;
}

.cart-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#cart-count {
    background: red;
    color: #fff;
    padding: 3px 8px;
    border-radius: 50%;
    font-size: 0.8rem;
}

/* Remove button */
.remove-btn {
    border: none;
    outline: none;
    text-decoration: none;
    background: red;
    color: white;
    padding: 6px 8px;
    border-radius: 5px;
}

/* Total */
.total {
    text-align: center;
    margin-top: 20px;
}

/* Checkout */
.checkout-btn {
    display: block;
    margin: 20px auto;
    padding: 12px 20px;
    background: #111;
    color: white;
    border: none;
    cursor: pointer;
}

.login-text {
    display: block;
    text-decoration: none;
    width: 100%;
    padding: 10px;
    background: #ff6600;
    color: #fff;
    border: none;
    cursor: pointer;
}

/* Contact */
.contact form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 20px auto;
}

.contact form input,
.contact form textarea,
.contact form button {
    margin-bottom: 15px;
    padding: 10px;
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
    background: #111;
    color: white;
}

/* Search */
#search-bar {
    width: 50%;
    padding: 10px;
    margin: 20px auto;
    display: block;
}

.product-details {
    display: flex;
    gap: 40px;
    padding: 40px;
    max-width: 1000px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
}

.product-image img {
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
}

.product-info {
    flex: 1;
}

.product-info h1 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.price {
    font-size: 1.5rem;
    color: #ff6600;
    margin-bottom: 20px;
}

.description {
    margin-bottom: 20px;
    line-height: 1.6;
}

.product-info button {
    padding: 12px 20px;
    background: #ff6600;
    border: none;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
}

.product-info button:hover {
    background: #e65c00;
}

.modal {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
}

.modal-content {
    background: #fff;
    width: 90%;
    max-width: 500px;
    margin: 10% auto;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}

.modal-content input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}

.confirm-pay {
    width: 100%;
    padding: 10px;
    background: #ff6600;
    color: #fff;
    border: none;
    cursor: pointer;
}

.close-btn {
    float: right;
    font-size: 20px;
    cursor: pointer;
}


.login-form {
    width: 400px;
    /* margin: 100px auto; */
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    text-align: center;
}

.login-form input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}

.login-form button {
    width: 100%;
    padding: 10px;
    background: #ff6600;
    color: #fff;
    border: none;
    cursor: pointer;
}
 .signup-form {
    width: 400px;
    /* margin: 60px auto; */
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    text-align: center;
}

.signup-form label {
    text-align: left;
    margin-left: 4px;
}

.signup-form input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}

.signup-form button {
    width: 100%;
    padding: 10px;
    background: #ff6600;
    color: #fff;
    border: none;
    cursor: pointer;
}

/* Dropdown styling */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-btn {
    background-color: transparent;
    border: none;
    /* padding: 10px 15px; */
    cursor: pointer;
    font-size: 16px;
    color: inherit;
    font-family: inherit;
}

.dropdown-btn:hover {
    opacity: 0.8;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #f9f9f9;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    z-index: 1;
}

.dropdown-menu a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-bottom: 1px solid #eee;
}

.dropdown-menu a:last-child {
    border-bottom: none;
}

.dropdown-menu a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

/* ========================= Begin Admin Styles ==================== */
.container {
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    gap: 2px;
    height: 100%;
    padding: 120px auto;
}

.sidebar {
    /* background-color: #111; */
    background: linear-gradient(to right, rgb(255, 106, 0), rgb(238, 9, 121));
    width: 15%;
    height: 100%;
    padding: 10px;
}

.nav-items {
    list-style: none;
    /* margin: 10px 0; */
    padding: 5px 0;
}

.nav-items > li {
    margin-top: 10px;
    margin-bottom: 10px;
}

.nav-items > li > a {
    text-decoration: none;
    color: #111;
    margin: 8px 0;
    font-weight: 700;
}

.main {
    width: 85%;
    padding: 20px;
}

.title-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title-row > button {
    padding: 8px;
    border: none;
    cursor: pointer;
    color: #f9f9f9;
    border-radius: 4px;
    background-color: #e65c00;
}

#data-table {
    width: 100%;
    border: 1px solid #d3d3d3;
    border-collapse: collapse;
}
th {
    text-align: start;
}
th, tr, td {
    border: 1px solid #d3d3d3;
    vertical-align: middle; 
    padding: 4px 2px;
}

.actions > button {
    border: none;
    border-radius: 3px;
    color: #f1f1f1;
    padding: 4px 5px;
    cursor: pointer;
}

.edit-btn {
    text-decoration: none;
    border-radius: 3px;
    color: #f1f1f1;
    padding: 4px 5px;
    font-size: 0.85em;
    margin: 0;
}
.edit-btn, .cancel-btn {
    background-color: rgb(4, 4, 92);
}
.delete-btn, .yes-btn {
    background-color: rgb(121, 4, 4);
}

.text {
    width: 100%;
    padding: 6px;
}

.input-row {
    display: flex;
    justify-content: space-between;
    gap: 4px;
}

.prompt {
    padding: 4px;
    margin: 10px auto;
    text-align: left;
}

.delete-actions {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
}

.yes-btn, .cancel-btn {
    /* width: 50%; */
    padding: 10px;
    color: #fff;
    border: none;
    cursor: pointer;    
}
.yes-btn {
    width: 100%;
}
.cancel-btn {
    margin-left: 0px;
    /* width: 10%; */
}

/* ========================== End Admin Styles ===================== */


/* Responsive */
@media (max-width: 768px) {
    .products-container {
        flex-direction: column;
        align-items: center;
        padding: 5px 50px ;
    }
    .product-card {
        width: 100%;
        margin: 10px auto;
    }

    .product-details {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .product-image {
        width: 90%;
        margin: 5px auto;
    }

    .product-image img {
        width: 100%;
        object-fit: contain;
    }

    .product-info {
        margin: 0 auto;
    }

    .description {
        margin: 0 auto;
        text-align: left;
    }

    .add-to-cart-btn {
        width: 100%;
    }

    .hamburger {
        display: flex;
        color: #d3d3d3;
    }

    .nav-links {
        position: absolute;
        top: 30px;
        left: 0;
        width: 100%;
        background: #111;
        flex-direction: column;
        align-items: center;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.4s ease;
    }

    .nav-links.active {
        max-height: 400px; /* enough to show all items */
    }

    .nav-links li {
        padding: 15px 0;
        width: 100%;
        text-align: center;
        margin: 0;
    }
    
    .hamburger.active span:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
    }
    .hamburger.active span:nth-child(2) {
        opacity: 0;
    }
    .hamburger.active span:nth-child(3) {
        transform: rotate(-45deg) translate(5px, -5px);
    }    

    /* .navbar {
        flex-direction: column;
    }

    .nav-links {
        flex-direction: column;
        margin-top: 10px;
    }

    .nav-links li {
        margin: 10px 0;
    } */

    #search-bar {
        width: 80%;
    }
}
